In [9]:
import numpy as np
import pandas_datareader as wb
import matplotlib.pyplot as plt

In [11]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [12]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   6.528542
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   6.476213
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   6.384629
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   6.397709
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   6.371546

In [13]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-03-13,101.589996,99.959999,99.989998,101.180000,9883300.0,101.180000
2019-03-14,101.779999,100.720001,100.940002,101.320000,8590200.0,101.320000
2019-03-15,102.889999,101.730003,101.760002,102.440002,30802700.0,102.440002
2019-03-18,102.290001,101.199997,102.059998,101.510002,8442800.0,101.510002
2019-03-19,102.139999,101.290001,101.910004,101.900002,7286400.0,101.900002

In [ ]:
PG['simple_return'] = (PG['Adj Close'] / PG['Adj Close'].shift(1)) - 1