In [1]:
import numpy as np
import pandas as pd
import pandas_datareader as wb
import matplotlib.pyplot as plt

In [6]:
tickers = ['PG', 'BEI.DE']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [7]:
sec_data.tail()

                    PG     BEI.DE
Date
2019-03-14  101.320000  86.860001
2019-03-15  102.440002  87.000000
2019-03-18  101.510002  87.459999
2019-03-19  101.900002  87.339996
2019-03-20  101.720001  88.559998

In [8]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [9]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008625 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
2007-01-10  0.011901 -0.012673
2007-01-11  0.006207  0.007498
2007-01-12  0.005554  0.009295
2007-01-16  0.000000  0.024572
2007-01-17  0.010304 -0.041784
2007-01-18  0.002750  0.011025
2007-01-19  0.008357 -0.002071
2007-01-22 -0.005615 -0.000829
2007-01-23 -0.001218  0.001037
2007-01-24 -0.001982  0.013382
2007-01-25 -0.009047 -0.019619
2007-01-26 -0.000925  0.000208
2007-01-29  0.000309  0.013051
2007-01-30 -0.004481  0.026202
2007-01-31  0.004326  0.032932
2007-02-01  0.007219 -0.010923
2007-02-02  0.000000  0.007035
2007-02-05 -0.002912  0.000973
2007-02-06 -0.008633 -0.004876
2007-02-07 -0.001704 -0.000391
2007-02-08  0.001704 -0.010617
2007-02-09 -0.002480  0.001777
2007-02-12 -0.004199 -0.000987
2007-02-13  0.008536  0.001382
2007-02-14  0.002624  0.012934
...              ...       ...
2019-02-06  0.004914 -0.009315
2019-02-07 -0.007998 -0.008503
2019-02-08  0.005851 -0.002475
2019-02-11  0.005715  0.009863
2019-02-12  0.010024  0.016153
2019-02-13 -0.000202  0.005254
2019-02-14 -0.007891 -0.001311
2019-02-15  0.000203  0.001529
2019-02-19  0.015217 -0.002404
2019-02-20 -0.007126  0.001531
2019-02-21  0.005024  0.009784
2019-02-22  0.004699 -0.011096
2019-02-25 -0.006806 -0.006805
2019-02-26  0.002608  0.001101
2019-02-27 -0.009258 -0.103285
2019-02-28 -0.003646 -0.005136
2019-03-01 -0.001117  0.021830
2019-03-04  0.004359  0.001678
2019-03-05  0.002223  0.017805
2019-03-06 -0.001616 -0.002356
2019-03-07 -0.003848  0.018924
2019-03-08 -0.001422 -0.003477
2019-03-11  0.011819 -0.013090
2019-03-12  0.004709  0.006567
2019-03-13  0.011231  0.001868
2019-03-14  0.001383  0.013211
2019-03-15  0.010993  0.001610
2019-03-18 -0.009120  0.005273
2019-03-19  0.003835 -0.001373
2019-03-20 -0.001768  0.013872

[3074 rows x 2 columns]

In [10]:
sec_returns['PG'].mean()

0.0002685241451972958

In [11]:
sec_returns['PG'].mean() * 250

0.06713103629932395

In [12]:
sec_returns['PG'].std()

0.010985124569635785

In [13]:
sec_returns['PG'].std() * 250 ** 0.5

0.17369007010363013

In [14]:
sec_returns['BEI.DE'].mean()

0.0002443454758182839

In [15]:
sec_returns['BEI.DE'].mean() * 250

0.06108636895457097

In [16]:
sec_returns['BEI.DE'].std()

0.01377509184581802

In [17]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.21780332605398964

In [18]:
print(sec_returns['PG'].mean() * 250)
print(sec_returns['BEI.DE'].mean() * 250)

0.06713103629932395
0.06108636895457097

In [19]:
sec_returns['PG', 'BEI.DE'].mean() * 250

KeyError: ('PG', 'BEI.DE')

In [20]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.067131
BEI.DE    0.061086
dtype: float64